
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightblue;
    display: flex;

}

.icons{
    width: 15px;
    height: 15px;
}

#side-bar{
    background: linear-gradient(to right, #1E2168, #3C63B3);
    display: block;
    width: 15%;
    padding: 10px;
    height: auto;
    color: white;
    font-size: 20px;
}
#side-bar li{
    margin-top: 35px;
}
#EAFLIX_LOGO{
    width: 100px;
    height: fit-content;
}
main{
    background-color: rgb(221,231,242);
    height: auto;
    flex-grow: 1;
    padding: 20px;
}

#welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-bar img {
    width: 20px;
    cursor: pointer;
}


#movie-filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filter-button {
    background-color: #2B0064;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.movie {
    position: relative;
    width: 200px;
    text-align: center;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.movie:hover .overlay {
    opacity: 0.5;
}

.play-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
}

#banner {
    background-color: #2B0064;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    color: white;
    font-weight: bold;
}
#banner div{
    display: inline;
    padding: 20px;
}

#banner img {
    width: 40%;
    margin-top: 20px;
}

.banners{
    width: 500px;
}